body {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

.block {
  display: block;
}

.capitalize {
  text-transform: capitalize;
}

.filter-div {
  padding: 2em 2em;
  background-color: lightgrey;
  margin-top: 6em;
}

.filter-text {
  color: #9fa9a3;
  margin: 0.5em;
  padding: 0.5em;
  font-weight: 550;
}

.date,
.category,
.city,
.buttons {
  margin: 0.5em;
  padding: 0.5em;
}

.date input {
  padding: 0.5em;
  margin-top: 0.5em;
  width: 100%;
  border: none;
  border-radius: 3px;
}

.category-options,
.city-options {
  padding: 0.6em;
  margin-top: 0.5em;
  width: 100%;
  border: none;
  border-radius: 3px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.7em;
  font-size: 0.85em;
  text-align: center;
}

.srch-btn {
  background-color: rgb(76, 76, 138);
  border: none;
  border-radius: 3px;
  flex: 1;
  margin-right: 0.5em;
  padding: 0.7em;
  color: #fff;
}

.clr-btn {
  background-color: rgb(132, 151, 94);
  border-radius: 3px;
  border: none;
  flex: 2;
  padding: 0.7em;
  color: #fff;
}

.srch-btn:focus,
.clr-btn:focus {
  outline-color: transparent;
}

.srch-btn:hover,
.clr-btn:hover {
  filter: contrast(115%);
}

.results {
  text-align: center;
  padding: 2em 0;
}

.results h1 {
  padding: 0.5em 0;
  margin: 0.5em 0;
}

img {
  width: 100%;
  max-width: 200%;
  height: auto;
}

.events-found {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

.box,
.box-week {
  margin: 1em 0;
  background-color: #d4574a;
  border: 2px solid transparent;
}

.box-week {
  padding-bottom: 1em;
}

.box:hover,
.box-week:hover {
  box-shadow: 10px 5px 5px #d4574a;
}

.event-title a {
  font-size: 1.2em;
  color: #fff;
}

.event-title a:hover {
  color: lightgrey;
}

.box-week-title {
  font-weight: 600;
  font-size: 1.8em;
  color: #d4574a;
}

@media (min-width: 768px) {
  .filter-field {
    display: flex;
    justify-content: space-between;
  }

  .date,
  .category,
  .city,
  .buttons {
    flex: 1;
  }

  .results {
    padding: 2em 4em;
    text-align: center;
  }

  .events-found {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .box,
  .box-week {
    border-radius: 3px;
  }

  .events-found .box {
    flex-basis: 32.5%;
    margin: 0.5em 0;
  }

  .box-week {
    max-width: 70%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}
